nav.nav
    +main_gradColor
    position: relative
    grid-column: 1 / 2
    grid-row: 1 / 4
    box-shadow: 2px 2px 8px #999
    color: $white

    .nav_toggle
        +fx-center
        position: absolute
        top: 48px
        right: -42px

        svg
            width: 36px
            height: 36px
            transition: 0.2s
            &:hover
                cursor: pointer
                fill: tomato

    .org_nav
        @media all and (max-width: $breakPoint)
            font-size: 12px

        .mol_navRole
            +fx-center
            padding: 1.5rem
            min-height: 40px
            height: 60px
            padding-top: 4px
            background: darken($mainColor, 0.1)
            background: rgba(4, 24, 43, 0.2)

            .atm_navRole
                &-name
                    color: $white
                    // font-size:  0

                &-img
                    margin: 0 8px

                    >img
                        display: block
                        max-width: 24px
                        width: 100%
                /* ===== Side Nav Role/
                    > span
                        background-color: #fff
                        display: block
                        width: 32px
                        height: 32px
                        border-radius: 50%
                    /Side Nav Role ===== */
        .mol_navList
            > ul
                // padding: 24px
                @media all and (max-width: $breakPoint)
                    display: flex
                    overflow-x: scroll

                > li a
                    +fx-center
                    color: $white
                    vertical-align: middle
                    padding: 16px

                    .material-icons
                        margin-right: 4px
                        margin-top: -2px

                    &:hover
                        background: tomato
